body{
  background: linear-gradient(120deg, magenta,blue,lime, yellow, orange);
}


header.navbar{
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #00000075;
  z-index: 1000;
  nav{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2em;

    a{
      color: white;
      text-decoration: overline;
    }
    
    ul{
      list-style: georgian;
      list-style-position: inside;
      display: flex;
      gap: 1rem;

    }
  }
}

section.home{

  padding-top: 4rem;

  height: 100vh;
  
  h1{
    display: flex;
    flex-direction: column;
    color: greenyellow;
    font-size: 4rem;
  }
}


section.sobre{
  display: flex;
  height: 100vh;

  justify-content: center;
  align-items: center;
  padding: 0 4rem;

  h2{
    font-size: 2rem;
  }
  
  p,h2{
    margin-bottom: 2rem;
  }

  > div{
  
    width: 50%;
  }
}


section.projetos{
  height: 100vh;
}